In [1]:
%load_ext autoreload
%autoreload 2

In [1]:
import pandas as pd
import time

TIMESTEPS = 10_000_000

def update_a(previous_states):
    import math
    a = b = c = d = e = 100.0
    return previous_states['a'] * abs(math.cos(previous_states['a']))

def update_b(previous_states):
    return previous_states['b'] + 1

states = {
    'a': 1.0,
    'b': 2.0
}

psubs = [
    {
        'policies': {},
        'updates': {
            'a': update_a
        }
    },
    {
        'policies': {},
        'updates': {
            'b': update_b
        }
    }
]

In [2]:
import output.rad_cad as rc

start = time.time()
data_rc = rc.run(TIMESTEPS, states, psubs)
end = time.time()
print(end - start)

df = pd.DataFrame(data_rc)
df

16.380733013153076

                 a           b
0         1.000000         2.0
1         0.540302         3.0
2         0.463338         4.0
3         0.414486         5.0
4         0.379389         6.0
...            ...         ...
9999996   0.000316   9999998.0
9999997   0.000316   9999999.0
9999998   0.000316  10000000.0
9999999   0.000316  10000001.0
10000000  0.000316  10000002.0

[10000001 rows x 2 columns]

In [3]:
result = [states]

def run():
    for i in range(TIMESTEPS):
        previous_state = result[-1]
        next_state = {}
        for psub in psubs:
            for state in psub['updates']:
                next_state.update({
                    state: psub['updates'][state](previous_state)
                })
        result.append(next_state)
    return result

start = time.time()
data = run()
end = time.time()
print(end - start)

df = pd.DataFrame(data)
df

15.657186031341553

                 a           b
0         1.000000         2.0
1         0.540302         3.0
2         0.463338         4.0
3         0.414486         5.0
4         0.379389         6.0
...            ...         ...
9999996   0.000316   9999998.0
9999997   0.000316   9999999.0
9999998   0.000316  10000000.0
9999999   0.000316  10000001.0
10000000  0.000316  10000002.0

[10000001 rows x 2 columns]

---

In [1]:
import output.rad_cad as rc

In [22]:
rc.sum_as_string(1, 2)

'3'

In [23]:
rc.py_dict()

{'a': 1}

In [24]:
from functions import *

In [25]:
def test2(string):
    return 2

In [26]:
def update_a(params, substep, state_history, previous_state, policy_input, **kwargs):
    add = policy_input['env1']
    return 'a', previous_state['a'] + add

In [27]:
rc.wrapper.state_update(test2)

('yay', 2)

In [2]:
rc.print_psubs({'a': 1})

In [28]:
type(test2)

function

In [ ]:
rc.simulation({
    'N': 1,
    'T': range(10),
    'M': {}
})

In [ ]:
# rc.append_configs(
#     initial_state = initial_state,
#     partial_state_update_blocks = psubs,
#     sim_configs = sim_config,
#     env_processes = env_processes,
# )